*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	font: 12px/150% Arial,Verdana,"\5b8b\4f53";
	-webkit-font-smoothing: antialiased;
}
.toolbar{
	width: 6px;
	height: 100%;
	position: fixed;
	right: 0px;
	background: #7a6e6e;
}
.toolbar .toolbar-middle{
	position: absolute;
	right: 0px;
	top: 25%;
}
.toolbar .toolbar-bottom{
	position: absolute;
	right: 0px;
	bottom: 0px;
}
.toolbar .items{
	position: relative;
	margin-bottom: 2px;
	background: #7a6e6e;
	color: #fff;
	height: 34px;
	line-height: 34px;
	text-align: center;
	border-radius: 2px;
	cursor: pointer;
}
.toolbar .items:hover{
	background: #c81623;
}
.toolbar .items:hover span{
	background: #c81623;
	display: inline-block;
}
.toolbar .items .jd-icon{
	display: inline-block;
	width: 34px;
	height: 34px;
	line-height: 34px;
	z-index: 100;

}
.toolbar span{
	position: absolute;
	display: none;
	font-size: 14px;
	right: 30px;
	background: #7a6e6e;
	font-family: 'microsoft yahei';
	height: 34px;
	line-height: 34px;
	z-index: 10;
	border-radius: 2px;
}
.toolbar .toolbar-middle span{
	width: 60px;
}
.toolbar .toolbar-bottom  span{
	width: 40px;
}