html,body{
	margin:0;padding:0
}
.container{
	width: 100%;
	max-width: 1366px;
}
.row:before,
.row:after{
	content:"";
	display: table ;
	clear:both;
}
.outer{
	box-sizing: border-box;
	float: left;
	padding: 10px;
}
.inner{
	height: 50px;
	background-color: #eee;
	border: 1px solid #999;
}

/* 超小屏幕（手机，小于 768px） */
@media(max-width: 768px) {
	.col-xs-1{width: 8.33%}
	.col-xs-2{width: 16.66%}
	.col-xs-3{width: 25%}
	.col-xs-4{width: 33.33%}
	.col-xs-5{width: 41.67%}
	.col-xs-6{width: 50%}
	.col-xs-7{width: 58.33%}
	.col-xs-8{width: 66.67%}
	.col-xs-9{width: 75%}
	.col-xs-10{width: 83.33%}
	.col-xs-11{width: 91.67%}
	.col-xs-12{width: 100%}
}
/* 小屏幕（平板，大于等于 768px） */
@media all and (min-width: 769px) {
	.col-sm-1{width: 8.33%}
	.col-sm-2{width: 16.66%}
	.col-sm-3{width: 25%}
	.col-sm-4{width: 33.33%}
	.col-sm-5{width: 41.67%}
	.col-sm-6{width: 50%}
	.col-sm-7{width: 58.33%}
	.col-sm-8{width: 66.67%}
	.col-sm-9{width: 75%}
	.col-sm-10{width: 83.33%}
	.col-sm-11{width: 91.67%}
	.col-sm-12{width: 100%}
}
